@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Serif:300,400');

@mixin bg-image ($img) {
    background: linear-gradient(to bottom, $color-overlay, $color-overlay), $img;
    background-size: cover;
    background-position: center;
}