$color-overlay: rgba(#000, .8);

$color-light: #FFF;

$color-lighttext: #FFF;
$color-darktext: #231322;
$color-accent: #EBBA07;
$color-adverse: #1D1614;

$color-border-dark: #FFF;
$color-border-light: #CBCBCB;
$color-separator: #979797;
$color-divider: #CCC;

$f-ss: 'Lato', sans-serif;
$f-s: 'Noto Serif', serif;